body {
  margin: 0;
  background-color: #e7f6ff;
}

.wrapper {
  background-color: #FFFF;
  max-width: 1080px;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0,  0, 0.04);
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
}

.headerLeft {
  display: flex;
  align-items: center;
}





h3, p {
  margin: 0;
}

.card {
  border:1px solid #F3F3F3;
  padding: 20px;
  width: 180px;
  border-radius: 30px;

}

.button {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
border-radius: 5px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.price {
  padding-top: 20px;
}
 .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
}